generated/schema/DALITypesDM-v1.vo-dml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by gradle vo-dml tools 2025-02-13T12:44:37.743415311Z-->
<xsd:schema xmlns:ivoa="http://ivoa.net/vodml/ivoa"
            xmlns:mymodel="http://ivoa.net/dm/dali/v0.1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            version="1.1"
            targetNamespace="http://ivoa.net/dm/dali/v0.1">
   <xsd:import namespace="http://ivoa.net/vodml/ivoa"
               schemaLocation="IVOA-v1.0.vo-dml.xsd"/>
   <xsd:element name="daliModel">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="refs" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence/>
               </xsd:complexType>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="unbounded"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="Point">
      <xsd:annotation>
         <xsd:documentation>location on the sky</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>dali:Point</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="cval1" type="xsd:double" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>dali:Point.cval1</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="cval2" type="xsd:double" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>dali:Point.cval2</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Shape" abstract="true">
      <xsd:annotation>
         <xsd:documentation>base type of all shapes</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>dali:Shape</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
   </xsd:complexType>
   <xsd:complexType name="Circle">
      <xsd:annotation>
         <xsd:documentation>a circular region on the sky</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>dali:Circle</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="mymodel:Shape">
            <xsd:sequence>
               <xsd:element name="center" type="mymodel:Point" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>dali:Circle.center</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="radius" type="xsd:double" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>dali:Circle.radius</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="MultiShape">
      <xsd:annotation>
         <xsd:documentation>multiple simple shapes describing regions as a single value</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>dali:MultiShape</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="shapes"
                      type="mymodel:Shape"
                      minOccurs="1"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>dali:MultiShape.shapes</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Polygon">
      <xsd:annotation>
         <xsd:documentation>a simple polygon region on the sky defined a sequence of points connected by great-circle segments</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>dali:Polygon</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="mymodel:Shape">
            <xsd:sequence>
               <xsd:element name="points" type="mymodel:Point" minOccurs="3" maxOccurs="3">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>dali:Polygon.points</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Interval">
      <xsd:annotation>
         <xsd:documentation>a set of numeric values defined by a lower and upper bound (bounds included: [a,b])</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>dali:Interval</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="lower" type="xsd:double" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>dali:Interval.lower</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="upper" type="xsd:double" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>dali:Interval.upper</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="uuid">
      <xsd:annotation>
         <xsd:documentation>represents a 128-bit binary ID in the canonical ascii UUID format</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>dali:uuid</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
</xsd:schema>
